nav {
    background-color: #181818;
    color: #fff;
    font-size: 18px;
    margin-top: -17px;
    
}

nav ul {
    list-style:none;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    
    
}

nav li {
    margin: 0;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}